.container {
  padding-top: 5rem;
  color: white;
}

.questNFT {
  width: 500px;
  border-radius: 20px;
}

.questTitleContainer {
  align-items: flex-start !important;
}

.questTitle {
  font-weight: 700;
  font-size: 24px;
}

.dappLogo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.userContainer {
  position: relative;
}

.userImage {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.questContainer {
  padding: 2rem;
  align-items: flex-start !important;
}

.questStepContainer {
  width: 500px;
  padding: 3rem;
  border: 1px solid rgb(65, 65, 65);
  border-radius: 10px;
}
